[submodule "libraries/lithium"]
	path = libraries/lithium
	url = git@github.com:slicedup/lithium.git
[submodule "libraries/sli_filters"]
	path = libraries/sli_filters
	url = git@github.com:slicedup/sli_filters.git
[submodule "libraries/sli_libs"]
	path = libraries/sli_libs
	url = git@github.com:slicedup/sli_libs.git
[submodule "libraries/sli_mailer"]
	path = libraries/sli_mailer
	url = git@github.com:slicedup/sli_mailer.git
[submodule "libraries/sli_scaffold"]
	path = libraries/sli_scaffold
	url = git@github.com:slicedup/sli_scaffold.git
[submodule "libraries/sli_tom"]
	path = libraries/sli_tom
	url = git@github.com:slicedup/sli_tom.git
[submodule "libraries/sli_users"]
	path = libraries/sli_users
	url = git@github.com:slicedup/sli_users.git
[submodule "libraries/sli_util"]
	path = libraries/sli_util
	url = git@github.com:slicedup/sli_util.git
[submodule "libraries/_source/foundation"]
	path = libraries/_source/foundation
	url = git://github.com/zurb/foundation.git
