[submodule "libraries/lithium"]
	path = libraries/lithium
	url = git://github.com/UnionOfRAD/lithium.git
[submodule "libraries/centrifuge"]
	path = libraries/centrifuge
	url = git@github.com:p-m-d/centrifuge.git
