@charset "UTF-8";

/*--- Reset ---*/
* { margin: 0; padding: 0; }
html, body { height: 100%; min-height: 100%; }

/*--- Layout ---*/
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	color: #0d0d0d;
	background: #333 url(../img/linen.jpg) center top repeat;
}

/*--- Basics ---*/
h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
	color:#111;
	line-height: 1;
	padding: 1.5em 0 0.5em 0;
}
h1 {
	font-family:'UltraRegular', Arial, sans-serif;
	letter-spacing: 0;
	font-size: 2em;
}
h2, h3, h4, h5, h6 {
	font-family:'PlayRegular', Arial, sans-serif;
	letter-spacing: 0;
}
#content > div > h2, #content > div > h3, #content > div > h4 {
	padding:5px 10px 8px 10px;
	font-size: 1.2em;
	color: #111;
}
#content > div > h4 {
	color: #00a8e6;
	margin-top:5px;
}

h5 { color: #666; }
h3, h6 { font-size: 1.7em; color: #00a8e6; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }
p { margin-bottom: 1em; }
strong { font-weight: bold; }
em { font-style: italic; }
a { text-decoration: none; color: #666; }
a, h1 a, h2 a { text-decoration: none; }
a:hover { color: #00bbff; }
a:active,a.active { color: #ff59ff; }
a img { border: none; }
li ul, li ol { margin: 0; }
ul, ol { margin: 0 0 1em 2.75em; }
dt, dd {
	font-style: italic;
	margin: .5em 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-left: 1em;
}


/*--- Header ---*/
#header h1 {
	float:left;

	margin:0 0 0 0;
	padding:20px 0 26px 54px;
	background: url(../img/process.png) center left no-repeat;
	text-align:center;
	text-shadow: -1px -1px 1px #666;
}

/*--- Tables ---*/
#container table {
	clear: both;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #e6e6e6;
	background: #fafafa;
	margin: 0 0 12px 0;
	-moz-box-shadow: 2px 2px 12px rgba(0,0,0,.15);
	-webkit-box-shadow: 2px 2px 12px rgba(0,0,0,0.15);
	box-shadow: 2px 2px 12px rgba(0,0,0,.15);
}
#container td, #container th {
	padding: .25em 1em;
	border: 1px solid #e6e6e6;
	vertical-align: middle;
	text-align: left;
	font-weight: normal;
	color: #666;
	font-size: 0.85em;
}
#container tr:nth-child(even) {
	background: #fff;
}
#container thead th, #container tfoot td {
	background: #f3f3f3;
	color: #333;
	text-align: left;
	font-size: 1em;
	padding: .5em .75em;
}
#container thead th {
	font-family:'PlayRegular', Arial, sans-serif;
	letter-spacing: 0;
}

/*--- Forms ---*/
form {
	display: block;
	clear: both;
	background: #fafafa;
	padding: 1em 2em 2em 2em;
	border: 1px solid #e6e6e6;
	margin-top: 0px;
	margin-bottom: 12px;
	-moz-box-shadow: 2px 2px 12px rgba(0,0,0,.15);
	-webkit-box-shadow: 2px 2px 12px rgba(0,0,0,0.15);
	box-shadow: 2px 2px 12px rgba(0,0,0,.15);
}
fieldset {
	padding: 2em;
	margin: 0 0 1em 0;
	border: 1px solid #e6e6e6;
	background: #f3f3f3;
}
legend {
	padding: .5em 1em;
	border: 1px solid #e6e6e6;
	background: #fff;
	font-size: 22px;
	font-family:'PlayRegular', Arial, sans-serif;
	letter-spacing: 0;
}
legend:empty {
	display:none;
}

label {
	padding: 0 1em 0 0;
	color: #454545;
	font-weight: normal;
}

input[type=checkbox] + label {
	padding: 0 0 0 .5em;
}

input, textarea, button {
	font-family: Helvetica, Arial, sans-serif;
	padding: 2px 4px;
	border: 1px solid #e5e5e5;
	color: #454545;
	font-size: 1em;
	line-height: 1.25em;
}

input[type=text], input[type=password], textarea {
	-moz-box-shadow: inset 0 0 3px rgba(0,0,0,.1);
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.1);
	box-shadow: inset 0 0 3px rgba(0,0,0,.1);
	clear: both;
	display: block;
	padding: .25em .5em;
}
input[type=text], input[type=password], input[type=email], textarea {
	width: 60%;
	max-width: 950px;
	margin: .5em 0 1em 0;
	padding:.5em;
}
textarea {
	width: 97%;
	min-height:100px;
}

input[type=reset], input[type=file] {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: .5em 1em;
	margin: 0 .75em 0 0;
	background-color: white;
	color: black !important;
	border: 1px solid #e5e5e5 !important;
	cursor: pointer;
}
select {
	clear: both;
	display: block;
	margin: .5em 0 1em 0;
}

select[multiple] {
	width:70%;
}

.select-chosen {
	padding:5px 0 10px 0;	
}

.select-chosen .chzn-container {
	padding-top:5px;
	display:block;
}

input.date-picker, input#JobsFee {
	width:200px;
}


div.checkbox {
	clear: both;
	padding: 1em 0;
}
.checkbox label {
	display: inline;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus, select:focus {
	border-color: #00a8e6;
	outline: none;
}

/*--- Misc ---*/
hr {
	border: none;
	height: 0;
	border-bottom: 1px solid #e6e6e6;
	margin:1em 0;
}
sup, sub {
	color: #666;
	font-size: .65em;
}
acronym {
	font-weight: bold;
	font-style: italic;
	color: #333;
}
abbr {
	color: #333;
}

blockquote {
	padding: 0.15em .5em;
	margin: 0.5em 0;
	font-size: 2em;
	color: #666;
	display: block;
	font-style: italic;
}

blockquote:before, blockquote:after {
	display: inline;
	color: #e5e5e5;
	font-size: 3em;
	position: relative;
	top: 0.25em;
	left: -0.1em;
}

blockquote:before {
	content: '\D \201C';
}

blockquote:after {
	content: '\201D';
}

pre > code {
	display: block;
	color: white;
	background: #141414;
	border: 1px solid white;
	padding: 1em !important; /* remove if base important is removed, too */
	overflow: auto;
	font-size: .9em;
}
a code {
	background: transparent;
	border: 0;
}
a:hover code {
	color: inherit;
}
code, pre, .fixed {
	font-family: Monaco, Courier, monospace !important;
	font-weight: normal;
	font-size: 0.85em;
	white-space: pre;
}
code {
	padding: .2em .25em !important;
	border: 1px solid #F0F0F0;
	background: #FAFAFA;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.1);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.1);
	box-shadow: 0 0 3px rgba(0,0,0,.1);
	color: #666;
}
pre {
	background: none;
	padding: 0 0 .5em 0 !important;
}

pre > code {
	margin-top: 0px;
	margin-bottom: 12px;
	-moz-box-shadow: 2px 2px 12px rgba(0,0,0,.15);
	-webkit-box-shadow: 2px 2px 12px rgba(0,0,0,0.15);
	box-shadow: 2px 2px 12px rgba(0,0,0,.15);
}

.clear {
	clear:both;
	height:0;
}

.shadow {
	-moz-box-shadow: 2px 2px 12px rgba(0,0,0,.15);
	-webkit-box-shadow: 2px 2px 12px rgba(0,0,0,0.15);
	box-shadow: 2px 2px 12px rgba(0,0,0,.15);
}
img.shadow {
	border: 1px solid rgba(255,255,255,.15);
}


/* app styles */

#container {
	padding:10px 10% 50px 10%;
    position: relative;
    min-width:960px;
}

.public #container {
	width:340px;
	padding:0;
	margin:50px auto 0 auto;
}

#content {
	margin:0 20px;
	padding-top:10px;
	background:#dedede;
	padding:1px;
	border: 1px solid #ccc;
	border-bottom: 1px solid #bbb;
	-webkit-border-radius: 6px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 6px;
}

#header h2 {
	float:left;
	margin:0;
	width:auto;
}

#footer {
	margin:15px 20px 0;
}

#footer p{
	font-size:11px;
	color:#999;
}
#footer a{
	display:block;
	float:left;
	margin:2px 10px 0 0;
}

#footer a img{
	filter:alpha(opacity=50);
	opacity:.5;
}

#footer a:hover img{
	filter:alpha(opacity=100);
	opacity:1;
}

#userNav {
	float:right;
	filter:alpha(opacity=30);
	opacity:.3;
}

#userNav:hover {
	filter:alpha(opacity=100);
	opacity:1;
}

#userNav:hover li a {
	text-decoration:underline;
}

#userNav ul {
	list-style-type:none;
}

#userNav li {
	disply:block;
	float:left;
	padding:0 10px 0 0;
	font-size:11px;
}

#userNav li:last-child {
	border:none;
}

#userNav li{
	color: #666;
}

#primaryNav {
	float:right;
	clear:right;
	margin:0 20px 0 0;
}

#primaryNav ul {
	list-style-type:none;
	margin:0;
}

#primaryNav li {
	disply:block;
	float:right;
	height:65px;
	width:50px;
	overflow:hidden;
	margin-left:10px;
	background:transparent url(../img/icon-sprite.png) 100% 100% no-repeat;
}

#primaryNav #jobLink{
	background-position:4px -253px;
}
#primaryNav #reportLink{
	background-position:5px -318px;
}
#primaryNav #taskLink{
	background-position:6px -385px;
}

#primaryNav li a{
	display:block;
	text-align:center;
	padding-bottom:50px;
	color: #fff;
	font: bold 11px Helvetica, Arial, sans-serif;
}

#activeJob {
	float:left;
	width:400px;
	margin:15px 0 0 30px;
	font-size:11px;
	font: bold 13px Helvetica, Arial, sans-serif;
	color:#fff;
}

#activeJob p {
	margin-bottom:5px;
}

#activeJob a {
	float:left;
	display: block;
	width:auto;
	margin-right:5px;
}

#activeTotal {
	font-weight:normal;
	font-style:italic;
}

.navBar {
	margin:0 -2px;
	background-color: #eeeeee;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
	/* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
	background-image: linear-gradient(top, #eeeeee, #cccccc);
	border: 1px solid #ccc;
	border-bottom: 1px solid #bbb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;

	padding:9px 5px 11px 5px;
}

.navBar ul {
	list-style-type:none;
	margin:0;
}

.navBar li {
	float:left;
	margin-right:5px;
}

.navBar li.right {
	float:right;
	margin-right:0;
	margin-left:5px;
}

.navBar li a {
	display:block;
	width:auto;
}

td div.actions {
	float:right;
	margin-top:5px;
}

td div.actions a {
	margin:0 3px 3px 0;
	display:block;
	float:right;
	width:auto;
}

div.flash-message {
	clear: both;
	margin: 0 0 .5em 0;
	padding: .75em 1em .55em;
	color: #FFFFFF;
	background: #666;
	border: 1px solid #000000;
	border-width: 0 0 4px 0;
	font-size: 1.15em;
	-moz-box-shadow: inset 0 0 12px rgba(0,0,0,.25);
	-webkit-box-shadow: inset 0 0 12px rgba(0,0,0,.25);
	box-shadow: inset 0 0 12px rgba(0,0,0,.25);
	text-shadow: 0px 0px 6px rgba(0,0,0,.5);
}

div.flash-message-success {
	background-color: #62B212;
	border-color: #467F0D;
}

div.flash-message-error {
	background-color: #CC1414;
	border-color: #7F0D0D;
}

div.flash-message-default {
	background-color: #E58F16;
	border-color: #995F0F;
}

div.flash-message-info {
	background-color: #E5D416;
	border-color: #B2A511;
}

/* buttons */
.button, input[type=submit], input[type=button], input[type=reset], button {
	background-color: #eeeeee;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
	/* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
	background-image: linear-gradient(top, #eeeeee, #cccccc);
	border: 1px solid #ccc;
	border-bottom: 1px solid #bbb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	color: #333;
	font: bold 11px Helvetica, Arial, sans-serif;
	line-height: 1;
	padding: 8px 0;
	text-align: center;
	text-shadow: 0 1px 0 #eee;
	width: 150px;
	cursor: pointer;
}

.button-green {
  background-color: #7fbf4d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7fbf4d), to(#63a62f));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: linear-gradient(top, #7fbf4d, #63a62f);
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
  -ms-box-shadow: inset 0 1px 0 0 #96ca6d;
  -o-box-shadow: inset 0 1px 0 0 #96ca6d;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #fff;
  text-shadow: 0 -1px 0 #4c9021;
}

.button-red {
  background-color: #ee432e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ee432e 0%), to(#c63929 50%));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -moz-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -ms-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -o-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  border: 1px solid #951100;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
  -ms-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
  -o-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
  box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
  color: #fff;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
}

a.button {
	padding:8px;
}

a.button-small {
	padding:4px 4px 3px 4px;
}

.button:hover, input[type=submit]:hover, input[type=button]:hover, button:hover {
	background-color: #dddddd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#bbbbbb));
	/* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
	background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
	background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
	background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
	background-image: linear-gradient(top, #dddddd, #bbbbbb);
	border: 1px solid #bbb;
	border-bottom: 1px solid #999;
	text-shadow: 0 1px 0 #ddd;
	color: #00bbff;
}

.button-green:hover {
    background-color: #76b347;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#76b347), to(#5e9e2e));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
    background-image: linear-gradient(top, #76b347, #5e9e2e);
    -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
    -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
    -ms-box-shadow: inset 0 1px 0 0 #8dbf67;
    -o-box-shadow: inset 0 1px 0 0 #8dbf67;
    box-shadow: inset 0 1px 0 0 #8dbf67;
    border: 1px solid #63a62f;
    text-shadow:none;
    color: #fff;
}

.button-red:hover {
    background-color: #f37873;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f37873 0%), to(#db504d 50%));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: -moz-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: -ms-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: -o-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    border: 1px solid #951100;
    text-shadow:none;
    color: #fff;
}

.button:active, input[type=submit]:active, input[type=button]:active, button:active,
.button.active, input[type=submit].active, input[type=button].active, button.active {
	border: 1px solid #aaa;
	border-bottom: 1px solid #888;
	-webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
	-moz-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
	-ms-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
	-o-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
	box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
	color: #ff59ff;
}

.button-green:active {
    border: 1px solid #5b992b;
    border-bottom: 1px solid #538c27;
    -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    -ms-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    -o-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    color: #fff;
}


.button-red:active {
    background-color: #d43c28;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d43c28 0%), to(#ad3224 50%));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: -moz-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: -ms-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: -o-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
    -ms-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
    -o-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
    box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
    border: 1px solid #951100;
    color: #fff;
}

.button-ico {}

.button-ico-img {
	display:block;
	float:left;
	width:12px;
	height:12px;
	margin:-1px 3px 0 0;
	overflow:visible;
	background:transparent url(../img/icon-sprite.png) 100% 100% no-repeat;
}

.button-ico-img.right {
	float:right;
}

.button-start .button-ico-img, .button-stop .button-ico-img {
	background-position:0px -1px;
}

.button-edit .button-ico-img {
	background-position:0px -29px;
}

.button-delete .button-ico-img {
	background-position:0px -59px;
}

.button-complete .button-ico-img {
	background-position:0px -87px;
}

.button-select {}

.button-select .button-ico-img  {
	width:12px;
	height:29px;
	margin-top:-9px;
	margin-left:8px;
	margin-right:-2px;
	background-position:0px -120px;
	border-left:1px solid #ccc;
}

.button-select:hover .button-ico-img,
.button-select:active .button-ico-img,
.button-select.active .button-ico-img {
	background-position:0px -149px;
}

ul.button-select-options {
	position:absolute;
	display:none;
	background:#fff;
	border: 1px solid #ccc;
	border-bottom: 1px solid #bbb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	color: #333;
	font: bold 11px Helvetica, Arial, sans-serif;
	line-height: 1;
	padding: 3px 0;
	text-align: center;
	text-shadow: 0 1px 0 #eee;
}

ul.button-select-options li {
	float:none;
	text-align:left;
	border-bottom: 1px solid #bbb;
	margin:0;
	padding:5px;
}

ul.button-select-options li:last-child {
	border-bottom:none;
}
