[submodule "libraries/lithium"]
	path = libraries/lithium
	url = git://github.com/UnionOfRAD/lithium.git
[submodule "libraries/centrifuge"]
	path = libraries/centrifuge
	url = git@github.com:p-m-d/centrifuge.git
[submodule "libraries/sli_base"]
	path = libraries/sli_base
	url = git@github.com:slicedup/sli_base.git
[submodule "libraries/sli_scaffold"]
	path = libraries/sli_scaffold
	url = git@github.com:slicedup/sli_scaffold.git
[submodule "libraries/sli_bootstrap"]
	path = libraries/sli_bootstrap
	url = git@github.com:slicedup/sli_bootstrap.git
[submodule "libraries/_source/bootstrap"]
	path = libraries/_source/bootstrap
	url = git://github.com/twitter/bootstrap.git
